<!-- Title for The Download area -->
<h1>Download</h1>
<!-- Window to Download Inflow Local App -->
<div class="download-window">
    <!-- Top Bar --start -->
    <div class="top">
        <!-- Tabs -->
        <div class="tabs">
            <!-- Tab -->
            <div class="tab">
                <!-- TItle of Tab -->
                <h6 class="tab-title">Download Inflow</h6>
                <!-- Clost button -->
                <span class="tab-close">&#x2715;</span>
            </div>
        </div>
        <!-- Close, Minimize, Resize Butttons -->
        <div class="menu-icon">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
        </div>

    </div>
    <!-- Top Bar --end -->

    <!-- Content --start -->
    <div class="download-content">
        <i class="fa-solid fa-download"></i>
            <!-- Title -->
            <h2>Download Inflow</h2>
            <!-- Description -->
            <p>Download the Inflow app for your computer.</p>
            <!-- Download Link -->
        <a href="https://download.inflow.adhnan.me/" target="_blank" > <i class="fa-solid fa-download"></i> Download</a>
    </div>
    <!-- Content --end -->

</div>
