/* Parent div of home */
.parent {
  padding-top: 10px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Title Inflow Design */
h1 {
  font-size: 100px;
}

/* Window */
.window {
  background: var(--secondary-color);
  width: 90%;
  height: 630px;
  border-radius: 15px;
  box-shadow: 68px 20px 110px -3px rgba(6, 185, 230, 0.452);
}

/* Top Bar of Window  --start */
.top {
  background: var(--teriary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

/* Three on the right side of top bar -- start */
.menu-icon {
  width: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  margin-right: 20px;
}

.dot {
  width: 13px;
  height: 13px;
  border-radius: 50%;
}

.dot:nth-child(1) {
  background-color: red;
}

.dot:nth-child(2) {
  background-color: yellow;
}

.dot:nth-child(3) {
  background-color: green;
}

/* Three on the right side of top bar -- start */

/* Tabs Design in Top Bar of the window --start */
.tabs {
  padding: 0;
  display: flex;
  flex-direction: row;
}

.tab {
  padding: 15px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: var(--secondary-color);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom: 1px solid var(--teriary-color);
}

.tab-type {
  font-size: 15px;
  font-weight: bold;
  margin-right: 14px;
}

.tab-type-GET {
  color: green;
}

.tab-type-POST {
  color: rgb(255, 166, 0);
}

.tab-type-PUT {
  color: rgb(0, 195, 255);
}

.tab-type-DELETE {
  color: rgb(255, 17, 0);
}

.tab-title {
  font-size: 13px;
  color: white;
  font-weight: lighter;
  margin-right: 15px;
}

/* Tabs Design in Top Bar of the window --end */

/* Top Bar of Window --end */

/* Main Portion of Window --start */
.main {
  padding: 15px 20px;
  height: 91.5%;
  width: 100%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Top Part Of Main area contains request url, type, body, parameters, header...... --start */
.form-top {
  height: 60%;
  overflow: auto;
  overflow-x: hidden;
}

/* The Area that contains URL Input, Request type, Send Button --start */
.url-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

/* URL Input, Request Method */
.url {
  width: 85%;
}

/* URL INPUT */
.url input {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 90%;
  padding: 15px 20px;
  background: var(--teriary-color);
  border: 1px solid var(--border-color);
  border-left: none;
  color: var(--primary-color);
}

.url input::placeholder {
  color: var(--border-color);
}

/* Request Method */
.url select {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 14px 20px;
  background: var(--teriary-color);
  border: none;
  width: 10%;
  color: var(--primary-color);
  border: 1px solid var(--border-color);
}

/* Request Send Button */
.send-button {
  background: var(--teriary-color);
  border: 1px solid var(--border-color);
  padding: 14px 20px;
  border-radius: 10px;
  color: var(--primary-color);
  width: 13%;
}

.send-button:hover {
  background: var(--hover-color);
  cursor: pointer;
}

/* The Area that contains URL Input, Request type, Send Button  --end */

/* NavBar To Navigate among Headers, Parameters, Body .... --start */
.top-nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-bottom: 1px solid var(--border-color);
}

.top-nav button {
  background: none;
  border: none;
  color: var(--primary-color);
  font-size: 15px;
  margin-right: 70px;
  padding: 5px 0px;
  border-bottom: 2px solid transparent;
  cursor: pointer;
}

/* While in each button's page  */
.top-nav button.active {
  border-bottom: 2px solid var(--primary-color);
}

/* NavBar To Navigate among Headers, Parameters, Body ....  --end */

/* Section For Body, Parameters, Headers ..... --start */
.top-section {
  display: flex;
  flex-direction: column;
}

/* Options in each Section. Eg:- Add Parameters, Add Headers ..... */
.section-options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid var(--border-color);
}

/* Text In Options Section */
.section-options span {
  font-size: 14px;
  margin-right: 50px;
}

/* Section Options Buttons */
.section-options button {
  background: var(--teriary-color);
  border: 1px solid var(--border-color);
  padding: 7px 9px;
  border-radius: 10px;
  color: var(--primary-color);
  margin-left: 15px;
}

.section-options button:hover {
  background: var(--hover-color);
  cursor: pointer;
}

/* Select in Section Option */
.section-options select {
  background: var(--teriary-color);
  border: 1px solid var(--border-color);
  color: var(--primary-color);
  border-radius: 5px;
  padding: 5px;
}

/* Container For Each Sections Title */
.section-title-c {
  padding: 7px;
}

/* Title for Each Section */
.section-title {
  font-size: 15px;
  font-weight: bold;
}

/* A textarea for body */
.coding-textarea {
  width: 100%;
  min-height: 140px;
  background: var(--secondary-color);
  border: none;
  color: var(--primary-color);
  font-size: 15px;
  padding: 10px 20px;
  border-radius: 10px;
  outline: none;
  resize: none;
  background: var(--teriary-color);
  margin-bottom: 5px;
}

/* Inputs in Section, Such as Input to add Parameters, Header .... */
.section-inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 7px;
}

/* One Raw Contain two Input */
.section-input {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-top: 10px;
}

/* Each Input */
.section-input input {
  width: 50%;
  padding: 10px 12.5px;
  background: none;
  border: 1px solid var(--border-color);
  color: var(--primary-color);
}

.section-input input::placeholder {
  color: var(--border-color);
}

.section-input input:focus {
  background: var(--teriary-color);
}

.section-input input:nth-child(1) {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.section-input input:nth-child(2) {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-left: none;
}

/* Delete Button For Inputs */
.section-input button {
  background: var(--teriary-color);
  border: 1px solid var(--border-color);
  padding: 10px 12.5px;
  border-radius: 10px;
  color: var(--primary-color);
  margin-left: 10px;
}

.section-input button:hover {
  background: var(--hover-color);
  cursor: pointer;
}

/* Single Input For Authorization ...... */
.section-single-input {
  width: 100%;
  padding: 10px 12.5px;
  background: none;
  border: 1px solid var(--border-color);
  color: var(--primary-color);
  border-radius: 10px;
  margin-top: 20px;
}

.section-single-input::placeholder {
  color: var(--border-color);
}

.section-single-input:focus {
  background: var(--teriary-color);
}

/* If there is no parameters or header .......  */
.section-none {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 150px;
  color: var(--text);
}

/* To add one */
.section-none button {
  background: var(--teriary-color);
  border: 1px solid var(--border-color);
  padding: 10px 12.5px;
  border-radius: 10px;
  color: var(--primary-color);
  margin-top: 10px;
}

.section-none button:hover {
  background: var(--hover-color);
  cursor: pointer;
}

/* Icon if there is nothing */
.section-none-i {
  font-size: 50px;
  margin: 10px 0;
}

/* Section For Body, Parameters, Headers ..... --end */

/* Top Part Of Main area --end */

/* Bottom Part Main area contains Reponse container */

.form-bottom {
  height: 40%;
  padding: 5px;
  padding-top: 10px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
}

/* NGX_JSON_Viewer overflow auto */
::ng-deep .ngx-json-viewer {
  overflow: auto !important;
}

/* Main Portion of Window --end */
