<div class="parent">

    <!-- Heading -->
    <h1>Inflow</h1>

    <!-- Window --start -->
    <div class="window">
        <!-- Top Bar --start -->
        <div class="top">
            <!-- Tabs -->
            <div class="tabs">
                <!-- Tab -->
                <div class="tab">
                    <!-- Type of Request -->
                    <span class="tab-type  tab-type-{{requestForm.value.type}} ">{{requestForm.value.type}}</span>
                    <!-- TItle of Tab -->
                    <h6 class="tab-title">Inflow</h6>
                    <!-- Clost button -->
                    <span class="tab-close">&#x2715;</span>
                </div>
            </div>
            <!-- Close, Minimize, Resize Butttons -->
            <div class="menu-icon">
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
            </div>

        </div>
        <!-- Top Bar --end -->

        <!-- Main area --start -->
        <form class="main" [formGroup]="requestForm" (ngSubmit)="onSendRequest()">
            <!-- The top Portion that contains controls of request --start -->
            <div class="form-top">

                <!-- Area to give URL and select method of request -->
                <div class="url-container">
                    <div class="url">
                        <select formControlName="type">
                            <option value="GET" selected>GET</option>
                            <option value="POST">POST</option>
                        </select>
                        <input formControlName="url" type="text" placeholder="URL">
                    </div>
                    <button class="send-button">Send</button>

                </div>

                <!-- Navigater between tab Parameters, Body, Header ...... -->
                <nav class="top-nav">
                    <button type="button" [ngClass]="{ active: index === 'bORp' }"
                        *ngIf="requestForm.value.type === 'POST'" (click)="setIndex('bORp')">
                        Body
                    </button>
                    <button type="button" [ngClass]="{ active: index === 'bORp' }"
                        *ngIf="requestForm.value.type === 'GET'" (click)="setIndex('bORp')">
                        Parameters
                    </button>
                    <button type="button" [ngClass]="{ active: index === 'headers' }" (click)="setIndex('headers')">
                        Headers
                    </button>
                    <button type="button" [ngClass]="{ active: index === 'authorization' }"
                        (click)="setIndex('authorization')">
                        Authorization
                    </button>
                </nav>

                <!-- Area to control body, parameters, header ...  --start -->

                <!-- Body, Parameters --start -->
                <div *ngIf="index === 'bORp'">
                    <!-- Body  --start -->
                    <div class="top-section" *ngIf="requestForm.value.type === 'POST'">
                        <div class="section-options">
                            <div>
                                <span>Content Type</span>
                                <select formControlName="content_type">
                                    <option value="none">None</option>
                                    <option value="application/json">application/json</option>
                                    <option value="application/ld+json">application/ld+json</option>
                                    <option value="application/hal+json">application/hal+json</option>
                                    <option value="application/vnd.api+json">application/vnd.api+json</option>
                                    <option value="application/xml">application/xml</option>
                                    <option value="text/html">text/html</option>
                                    <option value="text/plain">text/plain</option>
                                </select>
                            </div>
                        </div>
                        <div class="section-title-c">
                            <small class="section-title">
                                Raw Request Body
                            </small>
                        </div>

                        <div *ngIf="requestForm.value.content_type !== 'none'">
                            <textarea formControlName="body" class="coding-textarea"
                                (input)="adjustTextareaHeight($event)"></textarea>

                        </div>

                        <div class="section-none" *ngIf="requestForm.value.content_type === 'none'">
                            <i class="fa-solid fa-code section-none-i"></i>
                            <p>This request doesn't have a body</p>
                        </div>

                    </div>
                    <!-- Body  --end -->
                    <!-- Parameters --start -->
                    <div class="top-section" *ngIf="requestForm.value.type === 'GET'">
                        <div class="section-options">
                            <small class="section-title">
                                Query Parameters
                            </small>
                            <div>
                                <button type="button" (click)="addParameter()"><i class="fa-solid fa-plus"></i></button>
                                <button type="button" (click)="deleteAllParameters()"><i
                                        class="fa-solid fa-trash"></i></button>
                                <button type="button" (click)="checkForm()"><i class="fa-solid fa-check"></i></button>
                            </div>
                        </div>


                        <div formArrayName="parameters" *ngIf="parameters.controls.length > 0">
                            <div class="section-inputs">
                                <div class="section-input" *ngFor="let parameter of parameters.controls; let i = index"
                                    [formGroupName]="i">
                                    <input type="text" [placeholder]="'Key ' +(i+1)" formControlName="key">
                                    <input type="text" [placeholder]="'Value ' +(i+1)" formControlName="value">
                                    <button type="button" (click)="removeParameter(i)"><i
                                            class="fa-solid fa-trash"></i></button>
                                </div>
                            </div>
                        </div>

                        <div class="section-none" *ngIf="parameters.controls.length === 0">
                            <i class="fa-solid fa-database section-none-i"></i>
                            <p>This request doesn't have any parameters</p>
                            <button type="button" (click)="addParameter()"><i class="fa-solid fa-plus"></i> Add new
                            </button>
                        </div>

                    </div>
                    <!-- Parameters --end -->
                </div>
                <!-- Body, Parameters --start -->

                <!-- Headers --start -->
                <div class="top-section" *ngIf="index === 'headers'">
                    <div class="section-options">
                        <small class="section-title">
                            Header List
                        </small>
                        <div>
                            <button type="button" (click)="addHeader()"><i class="fa-solid fa-plus"></i></button>
                            <button type="button" (click)="deleteAllHeaders()"><i
                                    class="fa-solid fa-trash"></i></button>
                            <button type="button" (click)="checkForm()"><i class="fa-solid fa-check"></i></button>
                        </div>
                    </div>


                    <div formArrayName="headers" *ngIf="headers.controls.length > 0">
                        <div class="section-inputs">
                            <div class="section-input" *ngFor="let header of headers.controls; let i = index"
                                [formGroupName]="i">
                                <input type="text" [placeholder]="'Header ' +(i+1)" formControlName="key">
                                <input type="text" [placeholder]="'Value ' +(i+1)" formControlName="value">
                                <button type="button" (click)="removeHeader(i)"><i
                                        class="fa-solid fa-trash"></i></button>
                            </div>
                        </div>
                    </div>

                    <div class="section-none" *ngIf="headers.controls.length === 0">
                        <i class="fa-solid fa-puzzle-piece section-none-i"></i>
                        <p>This request doesn't have any headers</p>
                        <button type="button" (click)="addHeader()"><i class="fa-solid fa-plus"></i> Add new
                        </button>
                    </div>
                </div>

                <!-- Headers --end -->

                <!-- Authorization --start -->
                <div class="top-section" *ngIf="index === 'authorization'">
                    <div class="section-options">
                        <small class="section-title">
                            Authorization
                        </small>



                        <input type="checkbox" [formControl]="authorizationCheckControl" >

                    </div>


                    <div *ngIf="requestForm.value.authorization.check === true">
                        <input class="section-single-input" type="text" placeholder="Value"
                            [formControl]="authorizationValueControl">
                    </div>

                    <div class="section-none" *ngIf="requestForm.value.authorization.check === false">
                        <i class="fa-solid fa-lock section-none-i"></i>
                        <p>This request doesn't use any authorization</p>
                    </div>

                </div>
                <!-- Authorization --end -->


                <!-- Area to control body, parameters, header ...  --end -->

            </div>

            <!-- Top Portion --end -->

            <!-- Bottom Portion contains Reponose -->
            <div class="form-bottom response-container">
                <ngx-json-viewer [expanded]="true" [json]="response"></ngx-json-viewer>
            </div>


        </form>
        <!-- Main area --end -->


    </div>
    <!-- Window --end -->
</div>


<!-- <div class="section-inputs">
                            <div class="section-input">
                                <input type="text" placeholder="Key">
                                <input type="text" placeholder="Value">
                            </div>
                        </div> -->

<!-- <h3>Inflow</h3>
<form [formGroup]="requestForm" (ngSubmit)="onSendRequest()" >
    <select formControlName="type">
        <option value="GET" selected>GET</option>
        <option value="POST">POST</option>
    </select>    
    <input formControlName="url" type="text" placeholder="URL">
    <p *ngIf="requestForm.value.type === 'POST'" >
        <input formControlName="body" type="text" placeholder="Body in application/json">
    </p>
    <button>Send</button>
</form>
{{response}} -->